/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.nav-item {
   text-transform: uppercase;
   font-weight: bold;
   font-size: 80%;
}

.bg-dark {
    background-color: #0f2d4b!important;
}

.navbar-light  {
   background-color: #d0d0d0;
   border-radius: 0.5em;
}

app-formly-datepicker .icon[_ngcontent-c13] {
    width: 40px !important;
}