* {box-sizing: border-box;}

/* Style the input container */
.input-container2 {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    color: #999;
    border-style: solid;
    border-width: 0.5px;
}

/* Style the form icons */
.icon {
    padding: 10px;
    background: white;
    color: black;
    text-align: center;
    height: 100%;
    width: 26px;
    border: none;
}

/* Style the input fields */
.input-field2 {
  width: 80%;
  padding: 10px;
  outline: none;
}
