<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Cliente</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <a class="btn btn-sm btn-info btn-outline-secondary" [routerLink]="['create']">Nuevo Cliente</a>
    </div>
  </div>
</div>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">Identificaci&oacute;n</th>
      <th scope="col">Nombre</th>
      <th scope="col">Edad</th>
      <th scope="col">fecha Nacimiento</th>
      <th scope="col"> - </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td scope="row"> {{ cliente.id }} </td>
      <td scope="row"> {{ cliente.nombre }} </td>
      <td scope="row"> {{ cliente.edad }} </td>
      <td scope="row"> {{ cliente.fechaNacimiento | date : 'dd/MM/yyyy'}} </td>
      <td>
        <a class="btn btn-secondary" [routerLink]="['edit', cliente.id]">
          Editar
        </a>
        <a class="btn btn-secondary" (click)="deleteItem(cliente)"> Borrar </a>
      </td>
    </tr>
  </tbody>
</table>