<div class="card">
  <div class="card-header">
    Cliente
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="save(model)">
      <formly-form [form]="form" [fields]="fields" [model]="model">
        <div class="p-grid">
          <div class="p-col">            
            <button class="btn btn-primary" type="submit"> Guardar </button>                               
           </div>
        </div>
      </formly-form>
    </form>
  </div>
</div>